# Moving Average Crossover Stop Loss Model
Requirements:
- Python 2.7
- Numpy
- Pandas

### Loading Bloomberg Connection

In [1]:
import pdblp
import blpapi
import numpy as np
import pandas as pd

# Load Blooomberg Connection
#con = pdblp.BCon()
#con.start()

### Getting Data from Bloomberg

In [2]:
# Function to get DataFrame from Bloomberg
# Dates in YYYYMMDD

def get_data(ticker, fields, start_date, end_date):
    outp = con.bdh(ticker, fields, start_date, end_date)
    outp.columns = x.columns.droplevel()
    return outp

#df = get_data('USDJPY Curncy',['PX_OPEN', 'PX_HIGH', 'PX_LOW', 'PX_LAST'], '20150101', '20170825')
#df

### Working from a CSV file

In [21]:
data = pd.read_csv('Bitfinex-BTCUSD.csv')
data.reset_index(inplace=True, drop=True)
data.set_index('date', drop=True, inplace=True)
data = data.sort_index(ascending=True, inplace=False)
data.head(7)

            PX_OPEN  PX_LAST  PX_HIGH  PX_LOW        VOLUME
date
2015-01-11   276.01   267.27   282.86  265.83   22815.02462
2015-01-12   267.54   268.75   274.44  266.24   21418.47996
2015-01-13   268.60   228.07   269.66  219.00  150459.10190
2015-01-14   228.49   182.00   228.49  166.45  269565.29980
2015-01-15   181.00   209.81   230.74  179.05  184371.65350
2015-01-16   209.81   208.50   223.10  197.72   80331.46519
2015-01-17   208.52   201.24   214.00  192.20   48913.36512

### Calculate Moving Average

In [24]:
def calc_MA(df,shortperiod,longperiod,type="SMA"):
    
    # Simple Moving Average (SMA)
    if type == "SMA":
        df['shortMA'] = df['PX_LAST'].rolling(shortperiod).mean()
        df['longMA'] = df['PX_LAST'].rolling(longperiod).mean()
        
    # Exponentially-weighted moving average (EMA)
    elif type == "EMA":
        df['shortMA'] = pd.ewma(df['PX_LAST'], min_periods=shortperiod, span=shortperiod)
        df['longMA'] = pd.ewma(df['PX_LAST'], min_periods=longperiod, span=longperiod)
    
    return df

data = calc_MA(data,5,21,"SMA")
data.head(40)

,PX_OPEN,PX_LAST,PX_HIGH,PX_LOW,VOLUME,shortMA,longMA
date,,,,,,,
2015-01-11,276.01,267.27,282.86,265.83,22815.02462,NaN,NaN
2015-01-12,267.54,268.75,274.44,266.24,21418.47996,NaN,NaN
2015-01-13,268.60,228.07,269.66,219.00,150459.10190,NaN,NaN
2015-01-14,228.49,182.00,228.49,166.45,269565.29980,NaN,NaN
2015-01-15,181.00,209.81,230.74,179.05,184371.65350,231.180,NaN
2015-01-16,209.81,208.50,223.10,197.72,80331.46519,219.426,NaN
2015-01-17,208.52,201.24,214.00,192.20,48913.36512,205.924,NaN
2015-01-18,200.31,211.03,222.00,194.00,65568.72956,202.516,NaN
2015-01-19,210.98,216.20,219.95,207.00,32438.30549,209.356,NaN
2015-01-20,216.14,212.11,219.25,203.70,52169.96450,209.816,NaN
2015-01-21,212.10,228.08,230.00,211.00,57794.88598,213.732,NaN
2015-01-22,228.05,234.70,242.00,225.29,57343.01438,220.424,NaN
2015-01-23,234.70,233.12,236.98,225.13,40153.10222,224.842,NaN
2015-01-24,233.37,248.66,249.77,229.03,40097.04259,231.334,NaN
2015-01-25,248.94,254.73,259.39,245.00,54049.08140,239.858,NaN
2015-01-26,254.72,276.01,315.00,254.65,205992.02470,249.444,NaN
2015-01-27,276.01,265.09,280.37,250.00,81712.86715,255.522,NaN
2015-01-28,265.55,234.50,269.97,226.35,87045.98063,255.798,NaN
2015-01-29,234.49,233.01,239.33,220.00,60109.92091,252.668,NaN
2015-01-30,233.70,226.45,243.89,224.22,51257.89171,247.012,NaN
2015-01-31,226.47,215.80,234.03,213.10,48929.51091,234.970,231.196667
2015-02-01,215.91,226.92,233.32,211.02,55663.95598,227.336,229.275238
2015-02-02,226.86,238.99,247.50,222.50,52340.34350,228.234,227.858095
2015-02-03,238.86,227.96,248.42,222.66,81380.30367,227.224,227.852857
2015-02-04,227.81,227.80,233.00,220.23,44328.27883,227.494,230.033810
2015-02-05,227.79,216.47,228.80,210.12,37869.95924,227.628,230.350952
2015-02-06,216.43,222.65,225.88,215.00,35652.27923,226.774,231.024762
2015-02-07,222.66,228.80,239.78,222.66,35471.83677,224.736,232.337143
2015-02-08,228.80,223.85,232.90,221.10,26127.26355,223.914,232.947619
2015-02-09,224.13,220.48,225.98,215.33,48175.34836,222.450,233.151429
2015-02-10,220.48,220.87,223.88,214.00,29287.58484,223.330,233.568571
2015-02-11,220.75,219.80,224.40,218.10,19279.64534,222.760,233.174286
2015-02-12,219.80,222.39,223.20,217.80,19995.20975,221.478,232.588095
2015-02-13,222.56,236.13,242.50,221.46,68319.49566,223.934,232.731429
2015-02-14,235.80,257.00,261.30,235.51,80559.73017,231.238,233.128571
2015-02-15,257.01,235.88,268.54,228.20,103145.29820,234.240,232.230952
2015-02-16,235.34,233.50,243.65,228.62,47236.52234,236.980,230.206667
2015-02-17,233.50,244.00,246.28,231.50,40898.78594,241.302,229.202381
2015-02-18,243.82,236.26,244.99,231.01,39347.85943,241.328,229.286190
2015-02-19,236.27,240.00,243.42,234.97,23847.93734,237.928,229.619048

### Getting Stop Loss Signals

#### Tracking the tolerance level

In [54]:
def get_stoploss(df,tolerance):
    df['stoploss_longtrade'] = df['longMA'] - tolerance
    df['stoploss_shorttrade'] = df['longMA'] + tolerance
    return df

data = get_stoploss(data,0.05)
data[:][20:30]

,PX_OPEN,PX_LAST,PX_HIGH,PX_LOW,VOLUME,shortMA,longMA,stoploss_longtrade,stoploss_shorttrade,entry_signal,stopout_longtrade,stopout_shorttrade
date,,,,,,,,,,,,
2015-01-31,226.47,215.80,234.03,213.10,48929.51091,234.970,231.196667,231.146667,231.246667,0.0,1.0,0.0
2015-02-01,215.91,226.92,233.32,211.02,55663.95598,227.336,229.275238,229.225238,229.325238,-1.0,1.0,0.0
2015-02-02,226.86,238.99,247.50,222.50,52340.34350,228.234,227.858095,227.808095,227.908095,1.0,1.0,0.0
2015-02-03,238.86,227.96,248.42,222.66,81380.30367,227.224,227.852857,227.802857,227.902857,-1.0,1.0,0.0
2015-02-04,227.81,227.80,233.00,220.23,44328.27883,227.494,230.033810,229.983810,230.083810,0.0,1.0,0.0
2015-02-05,227.79,216.47,228.80,210.12,37869.95924,227.628,230.350952,230.300952,230.400952,0.0,1.0,0.0
2015-02-06,216.43,222.65,225.88,215.00,35652.27923,226.774,231.024762,230.974762,231.074762,0.0,1.0,0.0
2015-02-07,222.66,228.80,239.78,222.66,35471.83677,224.736,232.337143,232.287143,232.387143,0.0,1.0,0.0
2015-02-08,228.80,223.85,232.90,221.10,26127.26355,223.914,232.947619,232.897619,232.997619,0.0,1.0,0.0
2015-02-09,224.13,220.48,225.98,215.33,48175.34836,222.450,233.151429,233.101429,233.201429,0.0,1.0,0.0

#### Getting entry signals
Using MA crossovers

In [37]:
def get_entrysignals(df):
    n = len(df)
    df['entry_signal'] = np.zeros(n, dtype = float)
    for i in range(n):
        
        # ShortMA crossing over LongMA
        # 1.0 indicates an entry point for a BUY order.
        if (df['shortMA'][i] > df['longMA'][i]) and (df['shortMA'][i-1] < df['longMA'][i-1]):
            df['entry_signal'][i] = 1.0
            
        # LongMA crossing over ShortMA
        # -1.0 indicates an entry point for a SELL order
        elif (df['longMA'][i] > df['shortMA'][i]) and (df['longMA'][i-1] < df['shortMA'][i-1]):
            df['entry_signal'][i] = -1.0
            
    return df

data = get_entrysignals(data)
data[['PX_HIGH','PX_LOW','shortMA','longMA','entry_signal']][65:85]

            PX_HIGH  PX_LOW  shortMA      longMA  entry_signal
date
2015-03-17   292.90  281.56  285.830  275.766190           0.0
2015-03-18   285.25  248.00  280.636  276.681429           0.0
2015-03-19   269.50  246.98  276.512  277.874286          -1.0
2015-03-20   267.00  259.36  271.570  278.214286           0.0
2015-03-21   263.01  255.10  265.420  278.441429           0.0
2015-03-22   270.80  259.74  262.134  278.747143           0.0
2015-03-23   271.50  262.00  264.138  278.262381           0.0
2015-03-24   268.40  241.39  260.942  276.464762           0.0
2015-03-25   250.95  235.70  257.762  275.177143           0.0
2015-03-26   255.00  244.50  255.534  273.826667           0.0
2015-03-27   250.45  245.23  251.070  272.547619           0.0
2015-03-28   255.96  246.49  248.214  271.403810           0.0
2015-03-29   253.01  238.89  247.562  269.839524           0.0
2015-03-30   250.98  236.24  247.890  267.788571           0.0
2015-03-31   248.80  242.00  246.926  265.497619           0.0
2015-04-01   248.71  239.21  247.012  263.132381           0.0
2015-04-02   254.94  243.00  247.068  261.117143           0.0
2015-04-03   256.49  250.31  249.368  259.739048           0.0
2015-04-04   255.70  250.32  250.502  258.358095           0.0
2015-04-05   261.25  251.55  253.700  257.100952           0.0

#### Getting exit/stop out signals
Breaking below or above stop LongMA+/-tolerance levels

In [42]:
def get_exitsignals(df):
    n = len(df)
    df['stopout_longtrade'] = np.zeros(n, dtype=float)
    df['stopout_shorttrade'] = np.zeros(n, dtype=float)
    for i in range(n):
        
        # Stop out signal for a long trade
        if df['PX_LOW'][i] <= df['stoploss_longtrade'][i]:
            df['stopout_longtrade'][i] = 1.0
            
        # Stop out signal for a short trade
        elif df['PX_LOW'][i] >= df['stoploss_shorttrade'][i]:
            df['stopout_shorttrade'][i] = 1.0
            
    return df

data = get_exitsignals(data)
data[['PX_HIGH','PX_LOW','shortMA','longMA','entry_signal','stopout_longtrade','stopout_shorttrade']][63:85]

,PX_HIGH,PX_LOW,shortMA,longMA,entry_signal,stopout_longtrade,stopout_shorttrade
date,,,,,,,
2015-03-15,287.80,281.59,288.966,271.130952,0.0,0.0,1.0
2015-03-16,295.20,286.45,287.890,273.598571,0.0,0.0,1.0
2015-03-17,292.90,281.56,285.830,275.766190,0.0,0.0,1.0
2015-03-18,285.25,248.00,280.636,276.681429,0.0,1.0,0.0
2015-03-19,269.50,246.98,276.512,277.874286,-1.0,1.0,0.0
2015-03-20,267.00,259.36,271.570,278.214286,0.0,1.0,0.0
2015-03-21,263.01,255.10,265.420,278.441429,0.0,1.0,0.0
2015-03-22,270.80,259.74,262.134,278.747143,0.0,1.0,0.0
2015-03-23,271.50,262.00,264.138,278.262381,0.0,1.0,0.0
2015-03-24,268.40,241.39,260.942,276.464762,0.0,1.0,0.0
2015-03-25,250.95,235.70,257.762,275.177143,0.0,1.0,0.0
2015-03-26,255.00,244.50,255.534,273.826667,0.0,1.0,0.0
2015-03-27,250.45,245.23,251.070,272.547619,0.0,1.0,0.0
2015-03-28,255.96,246.49,248.214,271.403810,0.0,1.0,0.0
2015-03-29,253.01,238.89,247.562,269.839524,0.0,1.0,0.0
2015-03-30,250.98,236.24,247.890,267.788571,0.0,1.0,0.0
2015-03-31,248.80,242.00,246.926,265.497619,0.0,1.0,0.0
2015-04-01,248.71,239.21,247.012,263.132381,0.0,1.0,0.0
2015-04-02,254.94,243.00,247.068,261.117143,0.0,1.0,0.0
2015-04-03,256.49,250.31,249.368,259.739048,0.0,1.0,0.0
2015-04-04,255.70,250.32,250.502,258.358095,0.0,1.0,0.0
2015-04-05,261.25,251.55,253.700,257.100952,0.0,1.0,0.0

### Setting a minimum holding period for trades, only exit on first stop out signal AFTER minimum holding period.
This means the number of trades opened will remain the same no matter the minimum holding period, as entry signals are fixed.  
Exit signals will only be acted on IF minimum holding period has passed, hence returns on orders will vary according to different minimum holding periods.

In [43]:
def get_trades(df, holdingperiod):
    trade_counts = 0 # Keeping track of total number of trades made
    
    # Collecting total number of trades
    for index, row in df.iterrows():
        if row['entry_signal'] != 0:
            trade_counts += 1
    
    # Creating a list of orders
    orders = pd.DataFrame(index=range(0,trade_counts), columns=['entry_date','entry_price','entry_signal','exit_price','exit_date','days_held'])
    
    # Counter for each trade
    c = 0
    
    # Populating list of orders, day by day
    for index, row in df.iterrows():
        
        # BUY ORDER
        if row['entry_signal'] == 1:
            orders.loc[c]['entry_signal'] = 'LONG'
            orders.loc[c]['entry_date'] = index
            orders.loc[c]['entry_price'] = -row['PX_LAST'] # Set as a negative since BUY order price is the COST of a trade
            orders.loc[c]['days_held'] = 1 # Initializing the trade as 1 day old
            c += 1
        
        # SELL ORDER
        elif row['entry_signal'] == -1:
            orders.loc[c]['entry_signal'] = 'SHORT'
            orders.loc[c]['entry_date'] = index
            orders.loc[c]['entry_price'] = row['PX_LAST'] # SELL order price is the REVENUE of a trade
            orders.loc[c]['days_held'] = 1 # Initializing the trade as 1 day old
            c += 1
        
        # CLOSING THE TRADE - STOP OUTS
        
        # STOP OUT LONG TRADE
        if row['stopout_longtrade'] == 1.0:
            date = index
            for index, subrow in orders.iterrows():
                
                # Filters out 1.SELL orders, 2.trades not past min holding period, 3.already closed trades
                if (subrow['entry_price']<0) & (subrow['days_held']>holdingperiod) & (pd.isnull(subrow['exit_price'])==True):
                    subrow['exit_price'] = row['stoploss_longtrade'] # REVENUE from stop loss SELL order
                    subrow['exit_date'] = date
        
        # STOP OUT SHORT TRADE
        elif row['stopout_shorttrade'] == 1.0:
            date = index
            for index, subrow in orders.iterrows():
                
                # # Filters out 1.BUY orders, 2.trades not past min holding period, 3.already closed trades
                if (subrow['entry_price']>0) & (subrow['days_held']>holdingperiod) & (pd.isnull(subrow['exit_price'])==True):
                    subrow['exit_price'] = -row['stoploss_shorttrade'] # COST from stop loss BUY order
                    subrow['exit_date'] = date
        
        # Adding 1 day to existing open trades
        for index, row in orders.iterrows():
            if pd.isnull(row['exit_price']) == True:
                row['days_held'] += 1
    
    # Calculating daily percentage return of all closed orders
    orders['pct_return'] = ((orders['exit_price']+orders['entry_price'])/abs(orders['entry_price']))*100
    
    return orders

data_orders = get_trades(data,0)

data_orders

,entry_date,entry_price,entry_signal,exit_price,exit_date,days_held,pct_return
0,2015-02-01,226.92,SHORT,-233.179,2015-02-14,14,-2.75805
1,2015-02-02,-238.99,LONG,227.808,2015-02-02,1,-4.67882
2,2015-02-03,227.96,SHORT,-233.179,2015-02-14,12,-2.28925
3,2015-02-15,-235.88,LONG,232.181,2015-02-15,1,-1.56819
4,2015-03-19,261.98,SHORT,-228.231,2015-05-01,44,12.8823
5,2015-04-06,-255.73,LONG,255.361,2015-04-06,1,-0.144311
6,2015-04-09,243.58,SHORT,-228.231,2015-05-01,23,6.30144
7,2015-05-01,-231.78,LONG,229.882,2015-05-06,6,-0.818716
8,2015-05-18,232.82,SHORT,-237.643,2015-05-24,7,-2.0715
9,2015-05-24,-240.96,LONG,237.474,2015-05-25,2,-1.44659
10,2015-05-28,236.86,SHORT,-229.88,2015-06-14,18,2.94689
11,2015-06-14,-233.54,LONG,275.42,2015-07-20,37,17.9325
12,2015-07-23,276.51,SHORT,-281.027,2015-07-25,3,-1.63363
13,2015-07-24,-288.6,LONG,279.556,2015-07-24,1,-3.13368
14,2015-08-03,281.28,SHORT,-229.917,2015-09-06,35,18.2606
15,2015-09-06,-240.97,LONG,231.611,2015-09-11,6,-3.88371
16,2015-09-16,228.99,SHORT,-233.71,2015-09-29,14,-2.06143
17,2015-09-28,-240.43,LONG,233.963,2015-09-28,1,-2.68982
18,2015-11-14,333.37,SHORT,-338.911,2015-11-27,14,-1.66225
19,2015-11-28,-358.6,LONG,438.07,2015-12-26,29,22.1613
20,2015-12-27,422.32,SHORT,-437.067,2016-01-08,13,-3.49194
21,2016-01-08,-454,LONG,437.046,2016-01-12,5,-3.73442
22,2016-01-15,359.16,SHORT,-380.7,2016-02-13,30,-5.99719
23,2016-02-13,-393,LONG,421.876,2016-03-03,20,7.34751
24,2016-03-05,397.36,SHORT,-412.878,2016-03-23,19,-3.90518
25,2016-03-23,-418.12,LONG,413.79,2016-03-26,4,-1.03547
26,2016-05-14,455.8,SHORT,-454.26,2016-05-15,2,0.337972
27,2016-05-15,-457.89,LONG,453.742,2016-05-16,2,-0.905811
28,2016-05-19,434.55,SHORT,-451.804,2016-05-27,9,-3.97061
29,2016-05-27,-472.01,LONG,643.9,2016-06-21,26,36.4166
30,2016-06-25,664.87,SHORT,-664.224,2016-07-18,24,0.0971905
31,2016-07-16,-665.33,LONG,660.898,2016-07-16,1,-0.666193
32,2016-07-23,654.03,SHORT,-579.912,2016-09-04,37,11.3325
33,2016-09-02,-579.85,LONG,576.418,2016-09-02,1,-0.591861
34,2016-09-20,600.14,SHORT,-607.346,2016-10-01,12,-1.20067
35,2016-10-01,-614.09,LONG,607.103,2016-10-02,2,-1.13773
36,2016-11-15,712.17,SHORT,-714.602,2016-11-17,3,-0.341545
37,2016-11-16,-744.98,LONG,712.026,2016-11-16,1,-4.42345
38,2017-01-09,903,SHORT,-901.649,2017-01-23,15,0.149607
39,2017-01-23,-908.52,LONG,894.34,2017-01-24,2,-1.56083
40,2017-03-11,1172.4,SHORT,-1203.65,2017-03-13,3,-2.66507
41,2017-03-15,-1256.2,LONG,1214.25,2017-03-16,2,-3.33906
42,2017-03-17,1070.4,SHORT,-1072.96,2017-04-02,17,-0.238718
43,2017-04-02,-1107.5,LONG,1935.41,2017-05-27,56,74.755
44,2017-06-17,2610.1,SHORT,-2630.48,2017-06-23,7,-0.780941
45,2017-06-21,-2624.4,LONG,2600.39,2017-06-21,1,-0.914767
46,2017-06-22,2672.8,SHORT,-2630.48,2017-06-23,2,1.58323
47,2017-06-23,-2674.9,LONG,2632.36,2017-06-24,2,-1.59018
48,2017-06-25,2483.3,SHORT,-2533.69,2017-07-06,12,-2.02927
49,2017-07-06,-2593.2,LONG,2535.58,2017-07-07,2,-2.22184
50,2017-07-10,2318.3,SHORT,-2395.5,2017-07-21,12,-3.32992
51,2017-07-21,-2659,LONG,2444.45,2017-07-25,5,-8.06864
52,2017-09-11,4198.7,SHORT,-3906.04,2017-09-28,18,6.97035
53,2017-09-28,-4190,LONG,NaN,NaN,16,NaN

### Putting it all together

In [48]:
def MAcross(df, shortperiod, longperiod, type, tolerance, holding_period):
    df = calc_MA(df,shortperiod,longperiod,type)
    df = get_stoploss(df,tolerance)
    df = get_entrysignals(df)
    df = get_exitsignals(df)
    outp = get_trades(df, holding_period)
    return outp

trades = MAcross(data,5,21,'SMA',0.05,0)
trades

,entry_date,entry_price,entry_signal,exit_price,exit_date,days_held,pct_return
0,2015-02-01,226.92,SHORT,-233.179,2015-02-14,14,-2.75805
1,2015-02-02,-238.99,LONG,227.808,2015-02-02,1,-4.67882
2,2015-02-03,227.96,SHORT,-233.179,2015-02-14,12,-2.28925
3,2015-02-15,-235.88,LONG,232.181,2015-02-15,1,-1.56819
4,2015-03-19,261.98,SHORT,-228.231,2015-05-01,44,12.8823
5,2015-04-06,-255.73,LONG,255.361,2015-04-06,1,-0.144311
6,2015-04-09,243.58,SHORT,-228.231,2015-05-01,23,6.30144
7,2015-05-01,-231.78,LONG,229.882,2015-05-06,6,-0.818716
8,2015-05-18,232.82,SHORT,-237.643,2015-05-24,7,-2.0715
9,2015-05-24,-240.96,LONG,237.474,2015-05-25,2,-1.44659
10,2015-05-28,236.86,SHORT,-229.88,2015-06-14,18,2.94689
11,2015-06-14,-233.54,LONG,275.42,2015-07-20,37,17.9325
12,2015-07-23,276.51,SHORT,-281.027,2015-07-25,3,-1.63363
13,2015-07-24,-288.6,LONG,279.556,2015-07-24,1,-3.13368
14,2015-08-03,281.28,SHORT,-229.917,2015-09-06,35,18.2606
15,2015-09-06,-240.97,LONG,231.611,2015-09-11,6,-3.88371
16,2015-09-16,228.99,SHORT,-233.71,2015-09-29,14,-2.06143
17,2015-09-28,-240.43,LONG,233.963,2015-09-28,1,-2.68982
18,2015-11-14,333.37,SHORT,-338.911,2015-11-27,14,-1.66225
19,2015-11-28,-358.6,LONG,438.07,2015-12-26,29,22.1613
20,2015-12-27,422.32,SHORT,-437.067,2016-01-08,13,-3.49194
21,2016-01-08,-454,LONG,437.046,2016-01-12,5,-3.73442
22,2016-01-15,359.16,SHORT,-380.7,2016-02-13,30,-5.99719
23,2016-02-13,-393,LONG,421.876,2016-03-03,20,7.34751
24,2016-03-05,397.36,SHORT,-412.878,2016-03-23,19,-3.90518
25,2016-03-23,-418.12,LONG,413.79,2016-03-26,4,-1.03547
26,2016-05-14,455.8,SHORT,-454.26,2016-05-15,2,0.337972
27,2016-05-15,-457.89,LONG,453.742,2016-05-16,2,-0.905811
28,2016-05-19,434.55,SHORT,-451.804,2016-05-27,9,-3.97061
29,2016-05-27,-472.01,LONG,643.9,2016-06-21,26,36.4166
30,2016-06-25,664.87,SHORT,-664.224,2016-07-18,24,0.0971905
31,2016-07-16,-665.33,LONG,660.898,2016-07-16,1,-0.666193
32,2016-07-23,654.03,SHORT,-579.912,2016-09-04,37,11.3325
33,2016-09-02,-579.85,LONG,576.418,2016-09-02,1,-0.591861
34,2016-09-20,600.14,SHORT,-607.346,2016-10-01,12,-1.20067
35,2016-10-01,-614.09,LONG,607.103,2016-10-02,2,-1.13773
36,2016-11-15,712.17,SHORT,-714.602,2016-11-17,3,-0.341545
37,2016-11-16,-744.98,LONG,712.026,2016-11-16,1,-4.42345
38,2017-01-09,903,SHORT,-901.649,2017-01-23,15,0.149607
39,2017-01-23,-908.52,LONG,894.34,2017-01-24,2,-1.56083
40,2017-03-11,1172.4,SHORT,-1203.65,2017-03-13,3,-2.66507
41,2017-03-15,-1256.2,LONG,1214.25,2017-03-16,2,-3.33906
42,2017-03-17,1070.4,SHORT,-1072.96,2017-04-02,17,-0.238718
43,2017-04-02,-1107.5,LONG,1935.41,2017-05-27,56,74.755
44,2017-06-17,2610.1,SHORT,-2630.48,2017-06-23,7,-0.780941
45,2017-06-21,-2624.4,LONG,2600.39,2017-06-21,1,-0.914767
46,2017-06-22,2672.8,SHORT,-2630.48,2017-06-23,2,1.58323
47,2017-06-23,-2674.9,LONG,2632.36,2017-06-24,2,-1.59018
48,2017-06-25,2483.3,SHORT,-2533.69,2017-07-06,12,-2.02927
49,2017-07-06,-2593.2,LONG,2535.58,2017-07-07,2,-2.22184
50,2017-07-10,2318.3,SHORT,-2395.5,2017-07-21,12,-3.32992
51,2017-07-21,-2659,LONG,2444.45,2017-07-25,5,-8.06864
52,2017-09-11,4198.7,SHORT,-3906.04,2017-09-28,18,6.97035
53,2017-09-28,-4190,LONG,NaN,NaN,16,NaN

### Backtest Analysis by Rach
Statistical Analysis

In [49]:
def statistical_analysis(series):
    n = len(series)
    mean = np.mean(series)
    variance = np.var(series)
    stdev = np.std(series)
    skew = np.sum((series-mean)**3) / (n*(stdev**3))
    kurtosis = np.sum((series-mean)**4) / (n*(stdev**4))
    print "Number of Trades: {}\nMean: {}\nVariance: {}\nStd Dev: {}\nSkew: {}\nKurtosis: {}\n"\
    .format(n,mean,variance,stdev,skew,kurtosis)
    return (n,mean,variance,stdev,skew,kurtosis)

stat = statistical_analysis(trades['pct_return'])

Number of Trades: 54
Mean: 2.46214636333
Variance: 160.407885944
Std Dev: 12.6652234858
Skew: 3.90459641413
Kurtosis: 20.8519766842

In [52]:
def return_results(df):
    returns = df['pct_return']
    
    num_total_trades = float(len(df))
    num_positive_trades = float((returns>=0).sum())
    hit_rate = num_positive_trades/num_total_trades
    
    avg_holding_period = np.mean(df['days_held'])
    
    max_gain = np.max(returns)
    max_loss = np.min(returns)
    
    r = returns.add(1).cumprod()
    dd = r.div(r.cummax()).sub(1)
    mdd = dd.min()
    end = dd.argmin()
    start = r.loc[:end].argmax()
    
    mean = np.mean(returns)
    stdev = np.std(returns)
    sharpe = (mean/stdev)*np.sqrt(252)
    
    print "Hit Rate: {}\nAvg Holding Period: {}\nMax Gain: {}\nMax Loss: {}\nSharpe Ratio: {}\nMax Drawdown: {}\nStart: {}\nEnd: {}\n"\
    .format(hit_rate, avg_holding_period, max_gain, max_loss, sharpe, mdd, start, end)
    return (hit_rate, avg_holding_period, max_gain, max_loss, sharpe, mdd, start, end)

results = return_results(trades)

Hit Rate: 0.277777777778
Avg Holding Period: 12.0740740741
Max Gain: 74.7550252607
Max Loss: -8.06864377944
Sharpe Ratio: 3.08603806769
Max Drawdown: -42.7141311432
Start: 21
End: 23